body{
	background: white;
}

.canvas{
  width:0% 0%;
  padding:0px 0px;
}

.canvas_lugar{
	padding:0px 300px;
}


.links{
	padding:0px 0px;
}

a{
	font-size: 18px;
	font-family: arial;
	text-align: center;
	background: blue;
	display: inline-block; 
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	margin: 10px 100% 10px 0%;
	width: 100%;
	border-radius: 10px;
	border: none;


}

a:hover{
	background:#4A88F4;
	cursor: pointer; 
}
