<link rel="stylesheet" href="/static/css/inicio_sesión.css" type="text/css">
{% extends 'base.html'%}
{% block title %} {{ title }} {% endblock %}

{% block content %}



    {% from "_macro.html" import render_field %}

<!-- este es un comentario -->
    <form method="POST">
        <h1 class="titulo">Iniciar sesión</h1>
        <label for="usuario">Usuario</label>
        {{ render_field(form.username, id='usuario',class='texto',placeholder='Escribe tu usuario' )}}
                            
        <label for="contraseña">Contraseña</label>

        {{ render_field(form.comment,class='texto', id='contraseña', placeholder='Escribe tu contraseña')}}

        <button  type="submit" class="boton">Iniciar sesión</button>
        <a href="/" class="boton">Pagina principal</a>
    </form>


{% endblock %}